<footer>
    <div class="wrap">
        <div class="container">
            <div class="text-menu">
                <p>Blogs</p>
                <p>Careers</p>
                <p>News</p>
            </div>
            <div class="text-menu">
                <p>About Us</p>
                <p>Privacy Policy</p>
                <p>Help</p>
            </div>
            <div class="text-menu">
                <p>Terms of Service</p>
                <p>Explore</p>
                <p>Conections</p>
            </div>
        </div>
        <div [ngStyle]="{'color': 'white'}">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
    <div class="hero-footer">
        <p class="text">( -_•)╦̵̵̿ ➜ 2024 @All rights reserved.</p>
    </div>
</footer>