
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #115ea6;
    width: 100%;
    height: 270px;
    background-image: url(../../assets/images/full_logo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1.5px solid black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* -----------/------------- */
.container {
    display: flex;
}

p.side-text {
    margin: 0px;
    padding: 0 12px;
    color: #115ea6;
    font-size: 18px;
    font-weight: bold;
    border-right: 1px solid;
}
p:last-child {
    border-right: none;
}

p.side-text:hover{
    color: orangered;
    cursor: pointer;
    scale: 1.02;
}


/* ------------------ */
.social {
    display: flex;
    align-items: center;
    padding: 12px 0px;

}
.fa-brands {
   font-size: 35px;
   color: black;

}
.fa-brands:hover {
    cursor: pointer;
    scale: 1.2;
    color: orangered;

}
.fa-brands.fa-square-facebook {
    margin-right: 12px;
}
.fa-brands.fa-square-x-twitter {
    margin-right: 12px;
}
.fa-brands.fa-linkedin {
    margin-right: 12px;
}
.fa-brands.fa-square-instagram {
    margin-right: 12px;
}
/* -----------/------------- */
.hero-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

p.text {
    background-color: white;
    color: black;
    margin: 0;
    padding: 3px 6px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    opacity: 0.8;
}

@media only screen and (max-width: 660px) {
    .wrapper {
        flex-direction: column;
    }
    .container {
        justify-content: center;
    }
}
@media only screen and (max-width: 500px) {
    
    p.side-text{
        font-size: 16px;
        padding: 0 6px;
        margin-top: 6px;
    }
}
@media only screen and (max-width: 390px) {
    p.side-text {
        font-size: 15px;
        padding: 0 3px;
    }
}
