footer {
    border-top: 1px solid white;
    width: 95%;
    margin: 0 auto;

}
.container {
    display: flex;
    /* border-top:2px solid; */
    justify-content: space-between;
    width: 30%;
    margin: 10px;
}
.text-menu {
    margin-top: 12px;
}
p {
    margin: 0px;
    margin-bottom: 6px;
    font-weight: bold;
    /* color: black; */
    color: white;
}
.hero-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-top: 1px solid black;
    /* background-color: black; */
    background-color: white;

}
p.text {
    text-align: center;
    /* color: white; */
    color: black;
}