<footer>
    <div class="wrapper">
        <div class="container">
            <a class="side-text" href="https://news.disney.com/" target="_blank">News</a>
            <a class="side-text" href="https://thedisneyblog.com/" target="_blank">Blogs</a>
            <a class="side-text">Privacy</a>
            <a class="side-text">About</a>
            <a class="side-text">Service</a>
            <a class="side-text">Feedback</a>
        </div>
        <div [ngStyle]="{'color': 'white'}" class="social">
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
    <div class="hero-footer">
        <p class="text">2024 @All rights reserved.</p>
    </div>

</footer>