<footer>
    <div class="wrapper">
        <div class="container">
            <p class="side-text">News</p>
            <p class="side-text">Blogs</p>
            <p class="side-text">Privacy</p>
            <p class="side-text">About</p>
            <p class="side-text">Service</p>
            <p class="side-text">Feedback</p>
        </div>
        <div [ngStyle]="{'color': 'white'}" class="social">
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
    <div class="hero-footer">
        <p class="text">2024 @All rights reserved.</p>
    </div>

</footer>