.text {
    display: flex;
    flex-direction: column;
}
span {
    margin: 0 auto;
    color: red;
    font-weight: bold;
    font-size: 50px;
}
p {
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    font-size: 30px ;
    width: 95%;
}
.mikey {
    font-size: 30px;
    margin-bottom: 12px;
}
.img-wrapper {
    width: 40%;
    margin: 0 auto;
}
img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 12px;
    

}

@media only screen and (max-width: 900px) {
    p {
    font-size: 24px ;
    } 
    .img-wrapper {
        width: 60%;
    }
}
@media only screen and (max-width: 500px) {
    p{
        font-size: 20px ;
    
        }
    div {
        width: 95%;
    }
}