p {
    font-size: 26px;
    color: var(--green);
    font-weight: bold;
    text-align: center;
    font-size: 30px ;
}
div {
    width: 40%;
    margin: 0 auto;
}
img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}