p {
    font-size: 26px;
    color: var(--green);
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    font-size: 30px ;
    width: 95%;
}
div {
    width: 40%;
    margin: 0 auto;
}
img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

@media only screen and (max-width: 900px) {
    p {
    font-size: 24px ;
    } 
    div {
        width: 60%;
    }
}
@media only screen and (max-width: 500px) {
    p{
        font-size: 20px ;
    
        }
    div {
        width: 95%;
    }
}