<app-error-snackbar [errorMessage]="errorMessage" *ngIf="errorMessage"></app-error-snackbar>
<app-loader *ngIf="isLoading"></app-loader>
<div class="container" *ngIf="!isLoading">
    <form #loginForm="ngForm" (ngSubmit)="onLoginClicked()">
        <h2>SIGN IN HERE</h2>
        <input type="email" 
        name="email" 
        placeholder="Email*" 
        required 
        ngModel
        email
        #mailInput="ngModel">
        <div class="err-msg">
            <small *ngIf="mailInput.invalid && mailInput.touched">*Email is required field and it must be a valid email!</small>
        </div>

        <input type="password"
        name="password" 
        placeholder="Password*" 
        required 
        ngModel
        minlength="6"
        #passInput="ngModel" >
        <div class="err-msg">
            <small *ngIf="passInput.invalid && passInput.touched">*Password is a required field and must be atleast 6 characters!</small>
        </div>

        <input type="submit" class="btn-grad" value="Sign In" [disabled]="loginForm.invalid">
        <div class="already">
            <p>Already have a profile?</p>
            <span routerLink="/register"> Register here!</span>
        </div>
    </form>
</div>
