<div class="comments-container">

    <div class="container">
        <form class="text-wrapper" #commentForm="ngForm" (ngSubmit)="onCommentSubmited(commentForm)">
            <h1>Edit comment:</h1>
            <textarea name="comment" [(ngModel)]="editedCommentData.comment" type="text" placeholder="Comment here...">{{editedCommentData.comment}}</textarea>
            <div class="btn-wrapper">
                <button class="comment-btn" (click)="OnCloseForm()">Cancel</button>
                <button type="submit" class="comment-btn">Edit</button>
            </div>
        </form>
    </div>

</div>
