nav {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.link.img-wrapper {
    background-image: url(../../assets/images/logo-round-01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
    display: inline-block;
}

.link {
    text-decoration: none;
    padding: 4px 8px;
    font-size: 24px;
    color: black;
    margin: 12px;
    cursor: pointer;
}
.link:hover {
    color: white;
}

.link.active{
    
    color: white;
}


@media only screen and (max-width: 600px) {
    .link.img-wrapper {
        display: none;
    }
    nav {
        padding: 10px 0px;
        margin:0 auto;  
    }
}

@media only screen and (max-width: 512px) {
    .link {
        margin: 6px;
    }
}

@media only screen and (max-width: 464px) {
    .link {
        margin: 6px;
        font-size: 16px;
    }
    .link.active{
        font-size: 16px;
    }
}
@media only screen and (max-width: 390px) {
    .link {
        font-size: 14px;
    }
    .link.active{
        font-size: 14px;
    }
}
