<nav>
    <div class="link img-wrapper"></div>
    <div>
        <a class="link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="link" routerLink="catalog" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isLoggedIn">Catalog</a>
        <a class="link" routerLink="create" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isLoggedIn">Create</a>
    </div>
    <div>
        <a class="link" routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!isLoggedIn">Sign In</a>
        <a class="link" *ngIf="isLoggedIn" (click)="onLogout()">Logout</a>
    </div>
</nav>