nav {
    /* border-bottom: 1px solid var(--green); */
    border-bottom: 1.5px solid black;
    background-color: black;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    align-items: center;
}
.link.img-wrapper {
    background-image: url(https://st2.depositphotos.com/3554337/9570/i/950/depositphotos_95706990-stock-photo-green-movie-camera-symbol.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 12px;
}
.header {
    color: var(--grey);
    border-left: 2px solid ;
    padding-left: 30px;
}

.link {
    text-decoration: none;
    padding: 4px 8px;
    font-size: 20px;
    color: var(--grey);
    font-weight: bold;
    margin: 12px;
    cursor: pointer;
}
.link:hover {
    color: var(--green);
}

.link.active{
    border: 1px solid #BAFF39;
}


@media only screen and (max-width: 600px) {
    .link.img-wrapper {
        display: none;
    };
    nav {
        padding: 10px 0px;
        margin:0 auto;  
        justify-content: center
        
    };
    
}

@media only screen and (max-width: 450px) {
    .link {
        margin: 6px;
    }
}