<nav>
    <div class="wrapper">
        <a class="link img-wrapper" routerLink="/"></a>
        <ul>
            <li><a class="link" routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    *ngIf="!isLoggedIn">Sign in</a></li>
            <li><a class="link" routerLink="register" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" *ngIf="!isLoggedIn">Register</a></li>

            <li><a class="link" routerLink="catalog" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    *ngIf="isLoggedIn">Catalog</a></li>
            <li><a class="link" routerLink="create" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    *ngIf="isLoggedIn">Create</a></li>

            <li><a class="link" routerLink="history" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    *ngIf="isLoggedIn">History</a></li>
            <li><a class="link logout" *ngIf="isLoggedIn" (click)="onLogout()">Logout</a></li>
        </ul>
    </div>
    <div class="navbar-icon" *ngIf="isLoggedIn">
        <i class="fa-solid fa-bars"></i>
        <div class="hover-menu">
            <ul>
                <li><a class="link profile" routerLink="profile" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}" *ngIf="isLoggedIn"><i
                            class="fa-solid fa-user"></i>{{userEmail}}</a></li>

            </ul>
        </div>
    </div>

</nav>