nav {
    /* border-bottom: 1px solid var(--green); */
    border-bottom: 1.5px solid black;

    width: 95%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 12px;
}
.link.img-wrapper {
    background-image: url(https://st2.depositphotos.com/3554337/9570/i/950/depositphotos_95706990-stock-photo-green-movie-camera-symbol.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 50px;
    

}

.link {
    text-decoration: none;
    padding: 4px 8px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-right: 12px;

}
.link.active{
   border: 1px solid #BAFF39;
}