<nav>
    <div class="wrapper">
        <a class="link img-wrapper" routerLink="/"></a>
        <a class="link home" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HomeCinema</a>
    </div>
    <div>
        <a class="link" routerLink="catalog" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            *ngIf="isLoggedIn">Catalog</a>
        <a class="link" routerLink="create" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            *ngIf="isLoggedIn">Create</a>
        <a class="link" routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            *ngIf="!isLoggedIn">Sign In</a>
        <a class="link logout" *ngIf="isLoggedIn" (click)="onLogout()">Logout</a>
    </div>
</nav>