.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    /* border: 1px solid black; */
    padding: 6px 12px;
    border-radius: 1px;
}
.head {
    font-weight: bold;
    color: white
}


@media only screen and (max-width: 600px) {
    .filter {
        display: flex;
        justify-content: center;
        border: none
    }
}