<div class="filter">
    <span class="head">FILTER: </span>
    <input type="radio" name="filter"
        value="all"
        [(ngModel)]="selectedButtonChanged" 
        (change)="onSelectButtonChanged()"/>
    <span class="count">{{'All('+all+')'}}</span>

    <input type="radio" name="filter" 
        value="topRated"
        [(ngModel)]="selectedButtonChanged" 
        (change)="onSelectButtonChanged()"/>
        <span class="count">Top Rated</span>

    <input type="radio" name="filter" 
        value="true"
        [(ngModel)]="selectedButtonChanged" 
        (change)="onSelectButtonChanged()"/>
    <span class="count">{{'Premium('+premium+')'}}</span>

    <input type="radio" name="filter" 
        value="false"
        [(ngModel)]="selectedButtonChanged" 
        (change)="onSelectButtonChanged()"/>
    <span class="count">{{'Basic('+basic+')'}}</span>

    
    
</div>