.filter {
    margin: 12px 40px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: var(--green);
    border: 1px solid grey;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 1px;
}
.head {
    font-weight: bold;
}
.count {
    color: white;
}