.container {
    margin: 12px auto;
    border: 1px solid;
    width: 95%;
    background-image: url('https://165225.fs1.hubspotusercontent-na1.net/hubfs/165225/Web%20images%202023%20(compressed)/Video%20creation/green-screen-step-1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

h1 {
    color: black;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 20px;
}

form {
    width: 30%;
    height: 250px;
    box-shadow: 1px 2px 10px 1px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 30px;
}

input {
    all: unset;
    background-color: rgb(209, 206, 206);
    height: 30px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 1px;
    width: 80%;
    margin-top: 20px;

}

select {
    height: 33px;
    color: black;
    border: 1px solid grey;
    border-radius: 1px;
    background-color: rgb(209, 206, 206);
    width: 80%;
    margin-top: 20px;

}



textarea {
    all: unset;
    background-color: rgb(209, 206, 206);
    height: 80px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 1px;
    width: 80%;
    margin-top: 20px;

}

input.submit {
    background-color: black;
  width: 80%;
  color: white;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 16px;
  height: 35px;
  font-weight: bold;
  opacity: 0.8;
  margin-bottom: 20px;
  text-align: center;
}


input.submit:hover {
    transition-timing-function: ease-in-out;
    transition: 1s;
    opacity: 1;
    color: var(--green);
}

input.ng-invalid.ng-touched {
    border: 2px solid red
}

textarea.ng-invalid.ng-touched {
    border: 2px solid red
}

small {
    color: red;
    font-size: 16px;
    margin-top: 0px;
}

@media only screen and (max-width: 600px) {
    .container {
        margin-top: 8px;

    }

    form {
        width: 70%;

    }

    h1 {
        margin-top: 0px;
    }

}