.container {
    display: flex;
    align-items: center;
}
.form-container {
    width: 50%;
    margin: 0 auto;
    box-shadow: 2px 2px 4px 3px ;
    background-color: white;
    /* border: 2px solid var(--green); */

}
.wrapper {
    margin: 50px 20px;
}
.text-wrapper {
    width: 200px;
    min-height: 200px;
    /* max-height: 300px; */
    padding: 0px 30px;
    color: white;
    border: 1px solid var(--green);
    margin-bottom: 12px;
}
.image {
    background-image: url(https://d31xsmoz1lk3y3.cloudfront.net/games/imgur/eBEkqgn.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-left: 150px;
    /* margin: 100px 20px; */
}


h1 {
    margin-top: 50px;
    text-align: center;
    color: var(--green);
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 12px 40px; */
    padding: 50px 60px;

}
.form-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    all: unset;
    background-color: rgb(209, 206, 206);
    height: 30px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 20px;


}

select {
    height: 33px;
    color: black;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: rgb(209, 206, 206);
    margin-bottom: 20px;

}



textarea {
    all: unset;
    background-color: rgb(209, 206, 206);
    height: 80px;
    margin-bottom: 20px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 4px;

}

input.submit {
    font-size: 18px;
    color: black;
    background-color: var(--green);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    text-align: center;
}
input.ng-invalid.ng-touched {
    border: 2px solid red
}
textarea.ng-invalid.ng-touched {
    border: 2px solid red
}
small{
    color:red;
    font-size: 16px;
}