.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 70%;
    border: 1px solid black;
    box-shadow: 1px 2px 10px 1px black;
    padding: 30px;
    margin-bottom: 100px;
}
.loader {
    margin: 0 auto;
}

.image-wrapper {
    /* width: 120%; */
    width: 30%;
    height: 350px;
    margin-right: 20px;
    box-shadow: 1px 2px 10px 1px black;
    background-color: var(--grey);
    border: 1px solid;
}

img {
    width: 100%;
    height: 100%;
}

.details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    min-height: 350px;
    font-size: 18px;
    background-color: rgb(179, 177, 177);
}
.raiting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2 {
    color: var(--green);
    font-size: 34px;
    margin: 12px;
}

span {
    color: var(--green);
    font-weight: bold;
}

p {
    color: black;
    margin: 0px;
    margin-left: 12px;
    margin-bottom: 12px;

}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

button {
    /* padding: 8px 12px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer; */
    background-color: var(--green);
    margin: 20px;
    flex: 1;
    width: 100%;
    border: 1px solid black;
    color: black;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    height: 35px;
    font-weight: bold;
    opacity: 0.8;
}
button.delete-btn {
    background-color: red;
    color: white;
    border: 1px solid white;
}
button.comment-btn {
    background-color: black;
    color: var(--green);
    border: 1px solid var(--green);
}
button:hover {
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    opacity: 1;
    /* box-shadow: 1px 2px 10px 1px black; */
}
.fa-solid.fa-heart {
    margin-right: 40px;
    margin-left: 20px;
    font-size: 25px;
}

.fa-solid.fa-heart:hover {
    cursor: pointer;
}

.comment-container {
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 40px;
    /* background-image: linear-gradient(to bottom, #868f96 0%, #596164 100%); */
    background-color: black;
    opacity: 0.8;
    box-shadow: 1px 2px 10px 1px black;
    padding: 12px;
}

.comment-title {
    font-size: 26px;
    color: rgb(179, 177, 177);
    border-radius: 2px;
    /* border-bottom: 1px solid; */
    text-align: center;
}

.comment-wrapper {
    margin: 12px;
    height: auto;
    padding: 12px;
    background-color: rgb(179, 177, 177);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-name {
    font-size: 18px;
    margin: 12px;
    color: var(--green);
}

p.comment {
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
    margin: 0px;
    color: black;
    display: inline-block;

}
.fa-solid.fa-trash-can {
    width: 10px;
    color: red;
    opacity: 0.7;

}

.fa-solid.fa-trash-can:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
}

.fa-solid.fa-file-pen {
    width: 12px;
    margin-left: 15px;
    color: green;
    opacity: 0.7;
}

.fa-solid.fa-file-pen:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;

}

.no-comments {
    width: 50%;
    height: auto;
    border: 1px solid;
    margin: 0 auto;
    margin-bottom: 100px;
    box-shadow: 1px 2px 10px 1px black;
    text-align: center;
}

.no-comments-text {
    font-size: 20px;
    color: white;
    display: inline-block;
}

.no-comment-btn {
    max-width: 100px;
    padding: 0px;
    border: none;
    background-color: #666f73;
    color: var(--green);
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 90%;
    }

    .image-wrapper {
        width: 70%;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .details-wrapper {
        width: 100%;
        box-shadow: none;
    }
}