.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); */
    margin: 0 auto;
    width: 100%;
    /* box-shadow: 1px 2px 10px 1px black; */
    border-top: 1.5px solid white;
    border-bottom: 1.5px solid white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
}

.loader {
    margin: 0 auto;
}

.image-wrapper {
    width: 30%;
    height: 420px;
    margin-right: 20px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

img:hover {
    transform: scale(1.02);
    box-shadow: 1px 2px 10px 1px black;
}

.details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    min-height: 400px;
    font-size: 18px;
    color: black;
}

.raiting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 34px;
    margin: 12px;
}

span {
    font-weight: bold;
}

span.number {
    font-weight: lighter;
    margin-right: 20px;
}

p {
    margin: 0px 0px 12px 12px;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

button {
    margin: 0px 20px 0px 20px;
    width: 100%;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    border-radius: 12px;
}

button.edit-btn {
    background-color: #1877f2;
    color: white;
}

button.delete-btn {
    background-color: red;
    color: white;
}

button.comment-btn {
    background-color: black;
    color: white;
}

button:hover {
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    opacity: 0.8;
}

.fa-solid.fa-heart {
    margin-left: 20px;
    font-size: 25px;
}

.fa-solid.fa-heart:hover {
    cursor: pointer;
}

.com {
    display: flex;
}

.comment-section {
    width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.comment-container {
    background-image: url(../../../assets/images/521449.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    box-shadow: 1px 2px 10px 1px black;
    border-radius: 12px;
}

.comment-container div {
    margin-top: 8px;
    margin-bottom: 8px;
}


.comment-title {
    font-size: 26px;
    border-radius: 2px;
    color: white;

}

.comment-wrapper {
    margin: 12px auto;
    margin-bottom: 0px;
    width: 95%;
    height: auto;
    padding: 12px;
    border: 1px solid black;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    border-radius: 12px;
}

.comment-name {
    font-size: 18px;
    margin: 12px;
    color: #1877f2;
}

p.comment {
    font-size: 20px;
    padding: 4px;
    margin: 0px;
    color: black;
    display: inline-block;
}



.fa-solid.fa-trash-can {
    width: 10px;
    color: red;
    opacity: 0.7;
}

.fa-solid.fa-trash-can:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
}

.fa-solid.fa-file-pen {
    width: 12px;
    margin-left: 15px;
    color: green;
    opacity: 0.7;
}

.fa-solid.fa-file-pen:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
}

.comment-info {
    width: 40%;

    color: white;
    font-weight: bold;
    font-size: 26px;
}

.comment-info p {
    padding: 12px;
    font-size: 24px;
}

.comment-info p span {
    color: #ffad01;
}

.no-comments {
    width: 50%;
    height: auto;
    margin: 20px auto;
    box-shadow: 1px 2px 10px 1px black;
    text-align: center;
    padding: 12px;
}

.no-comments-text {
    font-size: 20px;
    color: white;
    display: inline-block;
}

.no-comment-btn {
    max-width: 100px;
    padding: 0px;
    border: none;
    color: black;
    text-decoration: underline;
}

@media only screen and (max-width: 1050px) {
    .image-wrapper {
        width: 40%;
        margin-right: 0px;
    }

    .details-wrapper {
        width: 60%;
    }
}

@media only screen and (max-width: 880px) {

    .no-comments {
        width: 95%;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }

    .image-wrapper {
        width: 70%;
    }

    .details-wrapper {
        width: 100%;
    }

    .comment-section {
        flex-direction: column;
    }

    .comment-container {
        width: 100%;
        min-height: 450px;
        margin-bottom: 20px;
    }

    .comment-info {
        width: 100%;
    }

    
}

@media only screen and (max-width: 580px) {
    .btn-wrapper {
        flex-direction: column;
    }

    button {
        margin-bottom: 12px;
    }

    .comment-container {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .image-wrapper {
        width: 100%;
    }

}

@media only screen and (max-width: 460px) {
    .raiting {
        flex-direction: column;
        align-items: flex-start;
    }
}