<div class="container" *ngIf="selectedMovie">
    <div class="image-wrapper">
        <img [src]="selectedMovie.imageUrl" alt="">
    </div>
    <div class="details-wrapper">
        <div>
            <h2>{{selectedMovie.name}}</h2>
            <p><span>Year:</span> {{selectedMovie.year}}</p>
            <p *ngIf="selectedMovie.isPremium"><span>Type:</span> Premium</p>
            <p *ngIf="!selectedMovie.isPremium"><span>Type:</span> Basic</p>
            <p><span>Details:</span> {{selectedMovie.details}}</p>
        </div>
        <div class="btn-wrapper">
            <button class="edit-btn" (click)="editMovie()">Edit</button>
            <button class="comment-btn" (click)="commentMovie()">Comment</button>
            <button class="delete-btn" (click)="deleteMovie()">Delete</button>
        </div>
    </div>
</div>
<app-comment *ngIf="isCommentClick" (closeForm)="closeCommentForm()"
    (emitCommentData)="createComment($event)"></app-comment>

<div *ngIf="allComments.length === 0" class="no-comments">
    <p class="no-comments-text">There are no comments yet. Be the first?</p>
    <button class="no-comment-btn" (click)="commentMovie()">Comment</button>
</div>

<div class="comment-container" *ngIf="allComments.length > 0">
    <h2 class="comment-title">Comments section:</h2>
    <div *ngFor="let comment of allComments">

        <span class="comment-name">{{comment.ownerEmail}}:</span>
        <div class="comment-wrapper">
            <p>{{comment.comment}}</p>
        </div>
    </div>
</div>