.flex-container {
    display: flex;
}
.container {
    display: flex;
    justify-content: center;
    
    background-color: #6a93cd;
    background-color: white;
    margin: 0 auto;
    width: 80%;
    /* box-shadow: 1px 2px 10px 1px black; */
    border: 1.5px solid black;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
}
.loader {
    margin: 0 auto;
}

.image-wrapper {
    width: 30%;
    margin-right: 20px;
}

.image-wrapper img {
    max-width: 100%;
    border-radius: 12px;
}

.image-wrapper img:hover {
    transform: scale(1.02);
    box-shadow: 1px 2px 10px 1px black;
}

.details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    font-size: 18px;
    color: black;
}

.raiting {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.star-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  
  .fa-star {
    color: gold;
  }
  
  .checked {
    color: gold;
  }
  .average-rating {
    font-size: 18px;
    font-weight: bold;
  }
button.rate {
    color: black;
    background: none;
    font-size: 18px;
    margin: 0px;
    padding-bottom: 4px;
}
button.rate:hover {
    scale: 1.2;
    opacity: 1;
}
h2 {
    font-size: 34px;
    margin: 0px 12px;
}

span {
    font-weight: bold;
}

span.number {
    font-weight: lighter;
    margin-right: 20px;
}

p {
    margin: 0px 0px 12px 12px;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

button {
    margin: 0px 20px 0px 20px;
    width: 100%;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    border-radius: 12px;
}


button.edit-btn {
    background-color: #1877f2;
    color: white;
}

button.delete-btn {
    background-color: red;
    color: white;
}

button.comment-btn {
    background-color: black;
    color: white;
}

button:hover {
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    opacity: 0.8;
}

.fa-solid.fa-heart {
    margin-left: 20px;
    font-size: 20px;
    background-color: black;
    padding: 6px;
    border-radius: 50%;
}

.fa-solid.fa-heart:hover {
    cursor: pointer;
}

.comment-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-bottom: 120px;
}

.comment-container {
    
    display: flex;
    flex-direction: column;
    width: 80vw;
    
}

.comment-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper {
    margin: 12px auto;
    margin-bottom: 0px;
    width: 95%;
    height: auto;
    padding: 12px;
    border: 1.5px solid black;
    border-radius: 8px;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    background-color: white;
}

.comment-name {
    font-size: 18px;
    padding: 0px 12px;
    color: white;
    text-decoration: underline;
}

p.comment {
    font-size: 20px;
    padding: 4px;
    margin: 0px;
    color: black;
    display: inline-block;
}



.fa-solid.fa-trash-can {
    width: 10px;
    color: red;
    opacity: 0.7;
}

.fa-solid.fa-trash-can:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
}

.fa-solid.fa-file-pen {
    width: 12px;
    margin-left: 15px;
    color: green;
    opacity: 0.7;
}

.fa-solid.fa-file-pen:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
}
.pooh-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.comment-info {
    display: flex;
    flex-direction: column;
    width: 70vw;
    color: white;
    font-weight: bold;
    font-size: 26px;
}
.pooh {
    width: 20%;
}
.pooh img {
    max-width: 100%;
}

.comment-info p {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    background-color: black;
    opacity: 0.7;
    border-width: 4px;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
        red,
        orange,
        yellow,
            rgba(0, 0, 0, 0)) 1 100%;
}

.comment-info p span {
    color: #ffad01;
}

.no-comments {
    width: 50%;
    height: auto;
    margin: 20px auto;
    box-shadow: 1px 2px 10px 1px black;
    text-align: center;
    padding: 12px;
}

.no-comments-text {
    font-size: 20px;
    color: white;
    display: inline-block;
}

.no-comment-btn {
    max-width: 100px;
    padding: 0px;
    border: none;
    color: black;
    text-decoration: underline;
}



@media only screen and (max-width: 880px) {
    .container {
    width: 100%;
    }
    .comment-container {
        width: 90vw;
    }

    .no-comments {
        width: 95%;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }

    .image-wrapper {
        width: 50%;
    }

    .details-wrapper {
        width: 100%;
    }


    .comment-info {
        width: 100%;
    }
    .pooh {
        width: 40%;
    }
    
}

@media only screen and (max-width: 580px) {
    .btn-wrapper {
        flex-direction: column;
    }

    button {
        margin-bottom: 12px;
    }
    button.rate {
        margin: 0px;
    }

    .comment-container {
        width: 100%;
    }
    .comment-info p{
        margin: 12px 0px;
    }
    .pooh-wrapper {
        flex-direction: column;
    }
    .pooh {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 500px) {
    .image-wrapper {
        width: 100%;
    }

}

@media only screen and (max-width: 460px) {
    .raiting {
        flex-direction: column;
        align-items: flex-start;
    }
}