<div class="container" *ngIf="selectedMovie">
    <div class="image-wrapper">
        <img [src]="selectedMovie.imageUrl" alt="">
    </div>
    <div class="details-wrapper">
        <div>
            <h2>{{selectedMovie.name}}</h2>
            <p><span>Year:</span> {{selectedMovie.year}}</p>
            <p><span>Type:</span> {{selectedMovie.isPremium ? 'Premium' : 'Basic'}}</p>
            <p><span>Details:</span> {{selectedMovie.details}}</p>
        </div>
        <div class="btn-wrapper">
            <button (click)="deleteMovie()">Delete</button>
            <button (click)="editMovie()">Edit</button>
        </div>
    </div>
</div>