<app-loader *ngIf="isLoading" class="loader"></app-loader>
<div class="flex-container">
    <div class="container" *ngIf="selectedMovie">
        <div class="image-wrapper">
            <img [src]="selectedMovie.imageUrl" alt="">
        </div>
        <div class="details-wrapper">
            <div>
                <div class="raiting">
                    <h2>{{selectedMovie.name}}</h2>

                    <div class="star-rating">
                            <!-- <span *ngFor="let star of getStars(selectedMovie.averageRating)"> -->
                                <button class="rate" (click)="openRateMovie()">Rate <i class="fa-regular fa-star"></i></button>
                            <!-- </span> -->
                            <p class="average-rating">{{selectedMovie.averageRating.toFixed(1)}} / 5 ({{selectedMovie.ratingCount}})</p>
                        
                    </div>
                </div>
                    <app-movie-rating *ngIf="isRateMovieClick" (rateEvent)="rateMovie($event)"
                        (closeRateEvent)="closeRateMovie()">
                    </app-movie-rating>

                <p><span>Year:</span> {{selectedMovie.year}}</p>
                <p *ngIf="selectedMovie.isPremium"><span>Type:</span> Premium</p>
                <p *ngIf="!selectedMovie.isPremium"><span>Type:</span> Basic</p>
                <p><span>Details:</span> {{selectedMovie.details}}</p>
            </div>
            <div class="btn-wrapper">
                <button *ngIf="isOwner" class="edit-btn" (click)="editMovie()">Edit</button>
                <button class="comment-btn" (click)="openCommentMovie()">Comment</button>
                <button *ngIf="isOwner" class="delete-btn" (click)="deleteMovie()">Delete</button>
                <!-- <button class="rate" (click)="openRateMovie()">Rate</button> -->

                <div [ngStyle]="{'display': 'flex', 'flexDirection': 'row', 'alignItems': 'baseline'}">
                    <i class="fa-solid fa-heart" [ngStyle]="{'color': likeButtonColor }" (click)="likeMovie()"></i>
                    <span class="number">({{likeNumber}})</span>
                </div>

            </div>
        </div>
    </div>

</div>
<app-comment *ngIf="isCommentClick" (closeForm)="closeCommentForm()" (emitCommentData)="createComment($event)">
</app-comment>

<app-edit-comment *ngIf="isEditCommentClick" (closeEditForm)="closeEditCommentForm()"
    (emitEditedCommentData)="editComment($event)" [editedCommentData]="editedCommentData">
</app-edit-comment>


<ng-container *ngIf="!isLoading">
    <div *ngIf="allComments.length === 0" class="no-comments">
        <p class="no-comments-text">There are no comments yet. Be the first?</p>
        <button class="no-comment-btn" (click)="openCommentMovie()">Comment</button>
    </div>
</ng-container>

<div class="comment-section" *ngIf="allComments.length > 0">
    <div class="comment-container">

        <div *ngFor="let comment of allComments">
            <div>
                <span class="comment-name">{{comment.ownerEmail}}:</span>
            </div>
            <div class="comment-wrapper">
                <p class="comment">{{comment.comment}}</p>
                <div *ngIf="isCommentOwner(comment)">
                    <i class="fa-solid fa-trash-can" (click)="deleteComment(comment.id)"></i>
                    <i class="fa-solid fa-file-pen" (click)="openEditComment(comment)"></i>
                </div>

            </div>

        </div>


    </div>
    <div class="pooh-wrapper">
        <div class="pooh">
            <img src="../../../assets/images/winnie-the-pooh-piglet-tigger-eeyore-winnipeg-winnie-the-pooh-1f823f07cc41dff91c544dd52efca11b.png"
                alt="">
        </div>
        <div class="comment-info">

            <p>“You’re braver than you believe, stronger than you seem, and smarter than you think." — <span>Winnie the
                    Pooh</span></p>
            <p>“Sometimes the smallest things take up the most room in your heart.” — <span>Winnie the Pooh</span></p>
            <p>“What’s wrong with knowing what you know now and not knowing what you don’t know until later?” —
                <span>Winnie
                    the Pooh</span>
            </p>
        </div>
    </div>
</div>