<div class="search">
    <input type="text" placeholder="Search..." #search>
    <button class="button-srch" (click)="onSearchClicked(search.value)">Search</button>
</div>


<div>
    <div *ngIf="allMovies.length > 0">
<app-filter 
[all]="all" 
[premium]="premium" 
[basic]="basic" 
(changeRadioButtonEvent)="changeRadioButtonEvent($event)">
</app-filter>
</div>
</div>

<div class="container">
    
    
    <div *ngIf="allMovies.length === 0" class="no-movies">
        <p class="no-movies-text">No movies in the catalog.</p>
    </div>
    
    
    <div *ngFor="let movie of allMovies">
        
        
            
        <div class="wrap" *ngIf="selectedButtonChanged === 'all' || movie.isPremium.toString() === selectedButtonChanged">
            <div class="text">
                <span class="title">{{movie.name}}</span>
                <div class="type">
                    <p>Year: <span>{{movie.year}}</span></p>

                    <div class="premium" [ngStyle]="{backgroundColor: movie.isPremium ? 'green' : 'orangered',}">
                        <span *ngIf="movie.isPremium; else basicStyle">Premium</span>
                        <ng-template #basicStyle>
                            <span>Basic</span>
                        </ng-template>

                    </div>
                </div>
            </div>
            <div class="img-wrapper">
                <img [src]="movie.imageUrl">
            </div>
            <div class="btn-wrapper">
                <button class="btn-details" routerLink="/catalog/{{movie.id}}">Details</button>
            </div>
        </div>
        <!-- <app-catalog-item [movie]="movie" -->
        <!-- </app-catalog-item> -->
    </div>
</div>