<div class="search-wrapper">
    <div class="search-img-wrapper">
        <img src="../../assets/images/Walt_Disney_World_2005.svg" alt="">
    </div>
    <div class="search">
        <input type="text" placeholder="Search..." #search>
        <button class="button-srch" (click)="onSearchClicked(search.value)">Search</button>
    </div>
</div>


<div>
    <div *ngIf="allMovies.length > 0">
        <app-filter [all]="all" [premium]="premium" [basic]="basic" [topRated]="topRated"
            (changeRadioButtonEvent)="changeRadioButtonEvent($event)">
        </app-filter>
    </div>
</div>

<app-error-snackbar [errorMessage]="errorMessage" *ngIf="errorMessage"></app-error-snackbar>

<div class="container">
    <app-loader *ngIf="isLoading" class="loader"></app-loader>
    <ng-container *ngIf="!isLoading">
        <div *ngIf="allMovies.length === 0" class="no-movies">
            <p class="no-movies-text">No movies in the catalog.</p>
        </div>
    </ng-container>

    <div *ngFor="let movie of allMovies">
        <div class="wrap" routerLink="/catalog/{{movie.id}}"
            *ngIf="selectedButtonChanged === 'all' || selectedButtonChanged === 'topRated' || movie.isPremium.toString() === selectedButtonChanged">
            <div class="img-wrapper">
                <img [src]="movie.imageUrl">
            </div>
            <div class="text">
                <span class="title">{{movie.name}}</span>
                <div class="type">
                    <p>Year: <span>{{movie.year}}</span></p>

                    <div class="premium" [ngStyle]="{backgroundColor: movie.isPremium ? 'green' : 'orangered'}">
                        <span *ngIf="movie.isPremium">Premium</span>
                        <span *ngIf="!movie.isPremium">Basic</span>
                    </div>

                </div>
            </div>

        </div>
        <!-- <app-catalog-item [movie]="movie" -->
        <!-- </app-catalog-item> -->
    </div>
</div>
<section>

    <!-- <div class="mikey-img">
        <img src="../../assets/images/minnie-mouse-mickey-mouse-pluto-clip-art-minnie-mouse-4b28ad01cc3ead09fea81747645f41ea.png"
            alt="">
    </div> -->
    <div class="mikey-img">
        <!-- <img src="../../assets/images/pngimg.com - goofy_PNG3.png" alt=""> -->
        <img src="../../assets/images/Excerpt_from_Steamboat_Willie_(1928),_used_as_part_of_Walt_Disney_Animation_Studios_Logo.gif" alt="">
    </div>
    <!-- <div class="mikey-img">
        <img src="../../assets/images/Daisy-And-Donald-Duck-cartoon-on-transparent-background-PNG.png" alt="">
    </div> -->

</section>