<div class="search-wrapper">
    <div class="search-img-wrapper">
        <img src="../../assets/images/Walt_Disney_Pictures_Logo_.png" alt="">
    </div>
    <div class="search">
        <input type="text" placeholder="Search..." #search>
        <button class="button-srch" (click)="onSearchClicked(search.value)">Search</button>
    </div>
</div>


<div>
    <div *ngIf="allMovies.length > 0">
        <app-filter [all]="all" [premium]="premium" [basic]="basic"
            (changeRadioButtonEvent)="changeRadioButtonEvent($event)">
        </app-filter>
    </div>
</div>

<app-error-snackbar [errorMessage]="errorMessage" *ngIf="errorMessage"></app-error-snackbar>

<div class="container">
    <app-loader *ngIf="isLoading" class="loader"></app-loader>
    <ng-container *ngIf="!isLoading">
        <div *ngIf="allMovies.length === 0" class="no-movies">
            <p class="no-movies-text">No movies in the catalog.</p>
        </div>
    </ng-container>

    <div *ngFor="let movie of allMovies">
        <div class="wrap" routerLink="/catalog/{{movie.id}}"
            *ngIf="selectedButtonChanged === 'all' || movie.isPremium.toString() === selectedButtonChanged">
            <div class="img-wrapper">
                <img [src]="movie.imageUrl">
            </div>
            <div class="text">
                <span class="title">{{movie.name}}</span>
                <div class="type">
                    <p>Year: <span>{{movie.year}}</span></p>

                    <div class="premium" [ngStyle]="{backgroundColor: movie.isPremium ? 'green' : 'orangered'}">
                        <span *ngIf="movie.isPremium">Premium</span>
                        <span *ngIf="!movie.isPremium">Basic</span>
                    </div>

                </div>
            </div>

        </div>
        <!-- <app-catalog-item [movie]="movie" -->
        <!-- </app-catalog-item> -->
    </div>
</div>