.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    padding: 30px;
    width: 90vw;
    border: 1px solid grey;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;

}
input {
    width: 30%;
    height: 30px;
    border: 1px solid #136cbf;
    border-radius: 6px;
    margin-right: 12px;
}
.button-srch {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #136cbf;
    color: white;
    height: 34px;
    padding: 0px 12px;
    font-size: 16px;
}

.wrap {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #136cbf;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0px 20px 30px 20px;
}
.title {
    font-size: 30px;
    margin-top: 12px;
    color: white;
}
p {
    color: white;
    font-size: 18px;
    margin-bottom: 0px;
}
.img-wrapper {
    width: 220px;
    height: 250px;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}
.premium {
    color: white;
    border-radius: 6px;
    padding: 2px 8px;
    background-color: #008000;
    margin-top: 18px;
}

.no-movies {
    color: red
}
.btn-wrapper {
    display: flex;
    justify-content: center;
}
.btn-details {
    padding: 6px 12px;
    cursor: pointer;
    margin: 10px 0px;
    /* background-color: yellow; */
    /* border: 2px solid black; */
    border: none;
    border-radius: 4px;
    width: 80%;
}
.no-movies {
    margin: 0 auto;
}
.no-movies-text {
    font-size: 30px;
    color: #f36b39ed;
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: 100px auto;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


 
