input {
    margin: 20px auto;
    width: 20%;
    height: 30px;
    border: 1px solid #136cbf;
}
.button {
    border: none;
    cursor: pointer;
    background-color: #136cbf;
    color: white;
    height: 34px;
}