/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';

* {
  box-sizing: border-box;
}

:root {
  --grey: #6E6E6E;
  --green: #BAFF39;
}

body {
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
  background-blend-mode: multiply, multiply; */
  /* background-image: linear-gradient(to bottom, #868f96 0%, #596164 100%); */
  background-color: #f1f2f3;
  background: #457fca;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #5691c8, #457fca);
}

nav a.link.active {
  color: #0077da;
}
input:focus,
select:focus,
textarea:focus {
  outline: none
}