.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.img-wrapper {
    
    background-image: url(https://www.projectorscreenworld.com/cdn/shop/articles/clipper-gae55396b0_1920.jpg?v=1675306455);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 400px;
    /* padding: 100px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 20px auto;
}   
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--green);
    margin-top: 0px;
    margin-bottom: 30px;
}
p{
    font-size: 18px;
    border: 1px solid var(--green);
    width: 200px;
    padding: 20px 30px;
    color: white;
}