<div class="container">

    <div class="hero-wrapper">
        <div class="img-wrapper">
            <img src="../../assets/images/1331854.png" alt="">
            <!-- <h1 class="playfair-display">Welcome to Disney World!</h1> -->
        </div>
        <p class="playfair-display">Enjoy the most popular Disney animations,
            which I hope will take you back to your childhood and escape from reality.
            You can add your favorite movies and enrich the catalog! Have fun!
        </p>
    </div>

    <div class="wrapper">
        <div class="second-img-wrapper">
            <img class="second-img" src="../../assets/images/N039041-1536x1024.jpg" alt="">
        </div>
        <div class="second-text">
            <p class="text">The mission of The Walt Disney Company is to entertain,
                inform and inspire people around the globe through the power of
                unparalleled storytelling, reflecting the iconic brands,
                creative minds and innovative technologies that make ours the world’s
                premier entertainment company.</p>
        </div>
    </div>

    <div class="wrapper-3">
        <div class="third-img-wrapper">
            <img class="third-img" src="../../assets/images/355698.jpg" alt="">
        </div>
        <div class="third-text">
            <p class="text-3">The Walt Disney Company, commonly known as Disney is an American multinational mass media and entertainment conglomerate that is headquartered at the Walt Disney Studios complex in Burbank, California.</p>
        </div>
        
    </div>

</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Whisper&display=swap')
</style>