.container {
    margin: 0 auto;
    width: 100%;
}

.hero-wrapper {
    width: 100%;
}

.img-wrapper {
    width: 100%;
}

img {
    width: 100%;
}

p.playfair-display {
    padding: 20px 30px;
    /* opacity: 0.8; */
    color: white;
    line-height: 1.6;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 12px;
}

/* --------second----------- */
.wrapper {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 60px;

}

.second-img-wrapper {
    width: 70%;
    height: auto;
    margin-left: 100px;
}

.second-img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    border: 1px solid white;

}
.second-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 250px;
    right: 100px;
    width: 25%;
    background-color: white;
    opacity: 0.8;
    border-width: 5px;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            yellow,
            orange,
            red,
            rgba(0, 0, 0, 0)) 1 100%;
            color: black;
}
h2 {
    margin: 10px auto;
    font-weight: normal;
}
.text {
    padding: 0px 20px;
    margin-top: 0px;
}
          
    .btn-grad{
        background-image: linear-gradient(to right, #c21500 0%, #ffc500  51%, #c21500  100%);
        margin: 0px auto;
        margin-bottom: 10px;
        padding: 6px 0px;
        width: 40%;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border: none;
        display: block;
        cursor: pointer;
      }
      a {
        text-decoration: none;
        color: white;
      }

      .btn-grad:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
     
/* --------third----------- */
.wrapper-3 {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 60px;
}

.third-img-wrapper {
    width: 70%;
    margin-left: 270px;
}

.third-img {
    width: 100%;
    border-radius: 12px;
    border: 1px solid white;
}
.third-text {
    position: absolute;
    bottom: 70px;
    left: 100px;
    width: 25%;
    padding: 0px 10px;
    background-color: white;
    color: black;
    opacity: 0.8;
    border-width: 5px;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            yellow,
            orange,
            red,
            rgba(0, 0, 0, 0)) 1 100%;
    display: flex;
    flex-direction: column;
}
.text-3 {
    padding: 0px 20px;
    margin-top: 0px;
}

@media only screen and (max-width: 1200px) {
    .wrapper {
        flex-direction: column;
        position: static;
        align-items: center;

    }
    .second-img-wrapper {
        width: 80%;
        margin: 0px;
        margin-bottom: 20px;
    }
    .second-text {
        position: static;
        width: 80%;
        margin: 0 auto;
    }
   
}

@media only screen and (max-width: 1000px) {
    .second-img-wrapper {
        width: 90%;
    }
    .second-text {
        width: 90%;
    }
    .wrapper-3 {
        flex-direction: column;
    }
    .third-img-wrapper {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .text-3 {
        position: static;
        margin: 0 auto;
        width: 90%;
    }
}

@media only screen and (max-width: 880px) {

    p.playfair-display {
        font-size: 14px;
        padding: 0px 12px;
    }
}

@media only screen and (max-width: 720px) {

    p.playfair-display {
        position: static;
        width: 100%;
    }
    .img-wrapper {
        margin-bottom: 12px;
    }
}
@media only screen and (max-width: 600px) {
    .wrapper {
        margin-bottom: 20px;
    }
    .second-img-wrapper{
        width: 100%;
    }
    .second-text {
        width: 100%;
    }
    .third-img-wrapper {
        width: 100%;

    }
    .text-3 {
        width: 100%;
    }
}
