.container {
    margin: 0 auto;
    width: 100%;
}

.hero-wrapper {
    width: 100%;
    /* position: relative; */
}

.img-wrapper {
    width: 100%;
}

img {
    width: 100%;
}

p.playfair-display {
    padding: 20px 30px;
    color: white;
    line-height: 1.6;
    text-align: center;
    /* position: absolute;
    top: 0px;
    left: 20px; */
    width: 70%;
    height: auto;
    margin: 0 auto;
    font-size: 18px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* --------second----------- */
.wrapper {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 60px;

}

.second-img-wrapper {
    width: 70%;
    height: auto;
    margin-left: 100px;
}

.second-img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.text {
    width: 25%;
    position: absolute;
    bottom: 210px;
    right: 100px;
    /* border-radius: 12px; */
    padding: 20px;
    background-color: white;
    color: black;
    opacity: 0.8;
    border-width: 5px;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            yellow,
            orange,
            red,
            rgba(0, 0, 0, 0)) 1 100%;
}
/* --------third----------- */
.wrapper-3 {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 60px;
}

.third-img-wrapper {
    width: 70%;
    margin-left: 270px;
}

.third-img {
    width: 100%;
    border-radius: 12px;
}

.text-3 {
    width: 25%;
    position: absolute;
    bottom: 60px;
    left: 100px;
    padding: 20px;
    background-color: white;
    color: black;
    opacity: 0.8;
    border-width: 5px;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            yellow,
            orange,
            red,
            rgba(0, 0, 0, 0)) 1 100%;
}

@media only screen and (max-width: 1200px) {
    .wrapper {
        flex-direction: column;
        position: static;
        align-items: center;

    }
    .second-img-wrapper {
        width: 80%;
        margin: 0px;
        margin-bottom: 20px;
    }
    .text {
        position: static;
        width: 80%;
        margin: 0 auto;
    }
   
}

@media only screen and (max-width: 1000px) {
    .second-img-wrapper {
        width: 90%;
    }
    .text {
        width: 90%;
    }
    .wrapper-3 {
        flex-direction: column;
    }
    .third-img-wrapper {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .text-3 {
        position: static;
        margin: 0 auto;
        width: 90%;
    }
}

@media only screen and (max-width: 880px) {

    p.playfair-display {
        font-size: 14px;
        padding: 0px 12px;
    }
}

@media only screen and (max-width: 720px) {

    p.playfair-display {
        position: static;
        width: 100%;
    }
    .img-wrapper {
        margin-bottom: 12px;
    }
}
