<div class="container">
    <div class="wrapper">
        <div class="img-wrapper">
            <img src="../../assets/images/1331854.png" alt="">
            <!-- <h1 class="playfair-display">Welcome to Disney World!</h1> -->
            <p class="playfair-display">Enjoy the most popular Disney animations,
                 which I hope will take you back to your childhood and escape from reality.
                  You can add your favorite movies and enrich the catalog! Have fun!
            </p>
        </div>
    </div>
    <!-- <div class="img-wrapper"></div> -->
</div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Whisper&display=swap')
</style>