<div class="container">
    <div class="wrapper">
        <div class="img-wrapper">
            <img src="https://www.projectorscreenworld.com/cdn/shop/articles/clipper-gae55396b0_1920.jpg?v=1675306455"
                alt="">
            <h1 class="playfair-display">Welcome to HomeCinema!</h1>
            <p class="playfair-display">Enjoy the most popular Disney animations,
                 which I hope will take you back to your childhood and escape from reality.
                  You can add your favorite movies and enrich the catalog! Have fun!
            </p>
        </div>
    </div>
    <!-- <div class="img-wrapper"></div> -->
</div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Whisper&display=swap')
</style>