<app-error-snackbar [errorMessage]="errorMessage" *ngIf="errorMessage"></app-error-snackbar>
<h1>Register</h1>
<app-loader *ngIf="isLoading"></app-loader>
<div class="container" *ngIf="!isLoading">

    <form  #registerForm="ngForm" (ngSubmit)="onSubmitRegister()">
        <input type="email" 
        name="email" 
        placeholder="Email*" 
        ngModel
        required
        email
        #mailInput="ngModel">
        <div class="err-msg">
            <small *ngIf="mailInput.invalid && mailInput.touched">*Email is required field and it must be a valid email!</small>
        </div>

        <input type="text"
        name="password" 
        placeholder="Password*"
        ngModel
        required  
        ngModel 
        minlength="6"
        #passInput="ngModel">
        <div class="err-msg">
            <small *ngIf="passInput.invalid && passInput.touched">*Password is a required field and must be atleast 6 characters!</small>
        </div>

        <input type="submit" class="submit" value="Register" [disabled]="registerForm.invalid">
        <p>Already have a profile? <span routerLink="/login">Log in here!</span></p>
    </form>
</div>
