<h1>Register</h1>
<div>
    <form  #registerForm="ngForm" (ngSubmit)="onSubmitRegister()">
        <label for="email">Email</label>
        <input type="email" 
        placeholder="Email*" 
        name="email" 
        ngModel
        required 
        email>

        <label for="password">Password</label>
        <input name="password" 
        placeholder="Password*"
        ngModel
        required  
        ngModel 
        minlength="6">

        <input type="submit" class="submit" value="Register" [disabled]="registerForm.invalid">
        <p>Already have a profile? <span routerLink="/login">Log in here!</span></p>
    </form>
</div>
