h1 {
    text-align: center;
    margin-top: 50px;
    color: var(--green);

}

form {
    margin: 0 auto;
    width: 30%;
    height: 250px;
    box-shadow: 1px 2px 10px 1px black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-bottom: 70px;

}

input {
    width: 80%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 30px;
    background-color: rgb(209, 206, 206);
    margin-top: 30px;

}
.submit {
    background-color: var(--green);
    color: black;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    height: 35px;
    font-weight: bold;

}
span {
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}
p{
    color: var(--grey);
}
input.ng-invalid.ng-touched {
    border: 2px solid red
}
small{
    color:red;
    font-size: 16px;
}