.page-wrapper {
    width: 95%;
    border: 1px solid;
    margin: 12px auto;
    background-image: url('../../../assets/images/GettyImages-1336937059-1600x728.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 40%;
    margin: 50px;
    box-shadow: 1px 2px 10px 1px black;
}


h1 {
    text-align: center;
    font-size: 30px;
    color: var(--grey);
    margin: 0px;
    padding-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

input {
    all: unset;
    background-color: black;
    color: white;
    height: 30px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 1px;
    width: 80%;
    margin-top: 20px;
    opacity: 0.7;

}

select {
    height: 33px;
    background-color: black;
    color: white;
    border: 1px solid grey;
    border-radius: 1px;
    width: 80%;
    margin-top: 20px;
    opacity: 0.7;

}

textarea {
    all: unset;
    background-color: black;
    color: white;
    height: 120px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 1px;
    width: 80%;
    margin-top: 20px;
    opacity: 0.7;
}

input.submit {
    font-size: 18px;
    color: var(--green);
    background-color: black;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    border: 1px solid var(--green);
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

input.submit:hover {
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    /* color: black;
    background-color: var(--green); */
    opacity: 1;
}

input.ng-invalid.ng-touched {
    border: 2px solid red
}

textarea.ng-invalid.ng-touched {
    border: 2px solid red
}

small {
    color: red;
    font-size: 16px;
}
@media only screen and (max-width: 800px) {
    .container {
        width: 70%;
        margin: 50px auto;
    }
    
    h1 {
        margin-top: 20px;
        color: white;
    }

}
@media only screen and (max-width: 460px) {
    .container {
        width: 90%;
    }
}